.vs/
InverntoryManager/InverntoryManager.Android/bin/
InverntoryManager/InverntoryManager.Android/obj/
InverntoryManager/InverntoryManager.iOS/obj/
InverntoryManager/InverntoryManager.UWP/bin/
InverntoryManager/InverntoryManager.UWP/obj/
InverntoryManager/InverntoryManager/bin/
InverntoryManager/InverntoryManager/obj/
